# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text diff=markdown
*.html text diff=html
*.css text diff=css
*.js text diff=javascript
*.json text
*.json5 text

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.svg text

# Enforce Unix newlines
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.md text eol=lf
*.yml text eol=lf
