body {
  background-color: #ffffff;
  color: #333333;
}

a {
  color: #666666;
}

h1,
h2,
h3 {
  color: #000000;
}

#style-switcher {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensures it stays on top */
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
}

/* Add more modern-specific styles as needed */
.container {
  /* max-width: 1200px; */
  width: 60%;
  margin: 0 auto;
  position: relative;
}
