---
layout: default
---

<article class="post">
    <header class="post-header">
        <table class="header">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td colspan="3">
                        <h1>{{ page.title }}</h1>
                    </td>
                    <th>Version</th>
                    <td class="width-min">v0.1.1</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td class="width-min">
                        <time datetime="{{ page.date | date_to_xmlschema }}">
                            {{ page.date | date: "%Y-%m-%d" }}
                        </time>
                    </td>
                    <th class="width-min">Author</th>
                    <td class="width-auto">{{ page.author | default: site.author }}</td>
                    <th>License</th>
                    <td class="width-min">MIT</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td colspan="5">
                        {% for category in page.categories %}
                            <a href="{{ '/categories/' | append: category | append: '/' | relative_url }}">{{ category }}</a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <footer class="post-footer">
        <p>
            <a href="{{ '/' | relative_url }}">← Back to Home</a>
        </p>
    </footer>
</article>

