body {
    background-color: #000000;
    color: #00FF00;
}

a {
    color: #00FF00;
}

#style-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensures it stays on top */
    padding: 10px;
    background-color: #001100;
    border: 1px solid #00FF00;
}

/* Add more cyberpunk-specific styles as needed */
.container {
    /* max-width: 1200px; */
    width:60%;
    margin: 0 auto;
    position: relative;
}