body {
    background-color: #f0e68c;
    color: #8b4513;
    font-family: 'Courier New', monospace;
}

a {
    color: #8b4513;
    text-decoration: underline;
}

#style-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensures it stays on top */
    background-color: #deb887;
    border: 2px solid #8b4513;
    padding: 10px;
}

h1, h2, h3 {
    font-family: 'Times New Roman', serif;
}

.container {
    /* max-width: 1200px; */
    width:60%;
    margin: 0 auto;
    position: relative;
}